.App {
  text-align: center;

}


Logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  color: black;
  text-decoration: none;
}

.nav {
  margin-top: 15vh;

}
.sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
